<nav class="navbar navbar-expand-lg navbar-dark space-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <span class="brand-icon">🚀</span>
      <span class="brand-text">Space Info</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon class="nav-icon">home</mat-icon>
            <span>Início</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="asteroides" routerLinkActive="active">
            <mat-icon class="nav-icon">blur_on</mat-icon>
            <span>Asteroides</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="curiosity-rover" routerLinkActive="active">
            <mat-icon class="nav-icon">adb</mat-icon>
            <span>Curiosity Rover</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="terra" routerLinkActive="active">
            <mat-icon class="nav-icon">public</mat-icon>
            <span>Terra</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="epic" routerLinkActive="active">
            <mat-icon class="nav-icon">satellite_alt</mat-icon>
            <span>EPIC</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="clima-espacial" routerLinkActive="active">
            <mat-icon class="nav-icon">wb_sunny</mat-icon>
            <span>Clima Espacial</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="iss-tracker" routerLinkActive="active">
            <mat-icon class="nav-icon">radar</mat-icon>
            <span>ISS Tracker</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sistema-solar" routerLinkActive="active">
            <mat-icon class="nav-icon">public</mat-icon>
            <span>Sistema Solar</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mapa-estelar" routerLinkActive="active">
            <mat-icon class="nav-icon">auto_awesome</mat-icon>
            <span>Mapa Estelar</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>