<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Imagem do dia</h1>
      </div>
    <div class="row">
        <div class="row">
            <div *ngIf="isLoading" class="div_spinner">
              <mat-spinner class="loading-spinner"></mat-spinner>
            </div>
          </div>
        
          <div class="row text-center d-flex justify-content-center">
            <div class="card mb-3 col-md-5 div_card_bk" *ngFor="let imageOfDay of infoImage">
              <div>
                <img class="card-img-top" [src]="imageOfDay.url" alt="Card image cap">
              </div>
        
              <div class="card-body">
                <h5 class="card-title">{{imageOfDay.title}}</h5>
                <p class="card-text">{{imageOfDay.explanation}}</p>
              </div>
            </div>
          </div>
    </div>
    <!-- <div *ngIf="roverPhotosInfo" class="row text-center d-flex justify-content-center">
        <div class="card mb-3 col-md-5 div_card_bk" *ngFor="let roverInfo of roverPhotosInfo.photos">
          <div>
            <img class="card-img-top" [src]="roverInfo.img_src" alt="Card image cap">
          </div>
    
          <div class="card-body">
            <h5 class="card-title">{{roverInfo.camera.full_name}}</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
              This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div> -->
</div>

