/* *{
    border: 1px solid red;
}
 */
.div_card_bk{
    margin: 20px;
    padding: 0px;
}


.div_btns_rover{
    margin-top: 9px;
}

.mat-field-date{
    padding-right: 12px;
}

.float-right{
    float: right;
}

.loading-spinner{
    margin: auto;
}

.div_spinner{
    display: flex;
    height: 500px;
}